:root {
  --primary-text-color: #757575; /* цвет основного текста #757575  */
  --title-text-color: #212121; /* вторичный цвет текста #212121 */
  --primary-white-color: #E5E5E5; /* фон #E5E5E5 */
  --accent-color: #2F303A; /* темный фон #2F303A */
  --text-line: #2196F3; /* синий #2196F3 */
  --white-color: #ffffff;/* белый #FFFFFF */
  --background-color-: #F5F4FA;  /* фон второй */
}
/* боди */
.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* шапка сайта */
.page-header {background-color:var(--white-color);}

.site-nav { 
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo { 
  font-family: Raleway, sans-serif;
  color: var(--text-line);
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header { 
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: bold;
  Font size: 26px;
  Line height: 1.19;}

.site-nav .link:hover, .mailo:hover, .phone:hover,
.site-nav .link:focus, .mailo:focus, .phone:focus {
  color: var(--text-line);}

.info { 
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mailo:hover, .mailo:focus, {color:var(--text-line);}
.phone:hover, .phone:focus

/* герой */
.hero{background-color:var(--accent-color) ;}

.hero-tittle{
  color:var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;}

.button-hero{
  background-color:var(--text-line) ;
  color:var(--white-color) ;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;}

/* Преимущества заннятие и команда */
.section-tittle{
  color: var(--title-text-color);
  font-weight: bold;
  line-height: 1.14;}

.section-text{
  font-style: normal;
  font-weight: normal;}

.section-features{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;}

.section-team {background-color:var(--background-color);}

.name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;}

.name-description{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;}

/* ФУТЕР */
.footer{background-color:var(--accent-color) ;}
.logo {color:var(--text-line) ;}
.logo-footer{color: var(--white-color) ;}

.adress {
  color:var(--white-color);
  text-decoration: none;
  list-style: none;}

.footer-mailo,
.footer-phone{
  color:rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style: none;}

.footer-mail:hover, .footer-phone:hover,
.footer-mail:focus, .footer-phone:focus {
  color: var(--text-line);}

.adress, .footer-mailo, .footer-phone{
font-weight: normal;}


/* портфолио */

.portfolio:hover, .studio:focus, 
  {color:var(--text-line);}

.button:hover,
.button:focus {
  background: var(--text-line);
  color: var(--white-color);}

.button {
  background: var(--background-color-button);
  color: var(--title-text-colorr);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;}

.nav-button{background-color: var(--text-line);
  color:var(--white-color) ;}


.project-tittle{color:var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;}

.project-info{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;}
