html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  height: 700px;
  border: 5px solid green;
  margin-right: auto;
  margin-left: auto;
}
.list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  padding: 40px;
}

.cont:nth-child(1) {
  height: 200px;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 50px;
  border: 5px solid black;
  box-shadow: 20px 20px 1px 20px gold;

  background-color: purple;
  background-image: url(../images/img1.jpg);
  background-size: 100px 100px;
  background-repeat: repeat-x;
}
.cont:nth-child(2) {
  height: 200px;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 50px;
  border: 5px solid black;
  box-shadow: 20px -20px 1px 20px gold;

  background-color: purple;
  background-image: url(../images/img2.jpg);
  background-size: 100px 100px;
  background-repeat: repeat-y;
}
.cont:nth-child(3) {
  height: 200px;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 50px;
  border: 5px solid black;
  box-shadow: 20px -20px 20px 20px gold;

  background-color: purple;
  background-image: url(../images/img3.jpg);
  background-size: 100px 100px;
  background-repeat: repeat;
}
.cont:nth-child(4) {
  height: 200px;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 50px;
  border: 5px solid tomato;
  box-shadow: -20px 20px 1px 20px gold;

  background-color: blue;
  background-image: url(../images/img4.jpg);
  background-size: 100px 100px;
  background-repeat: no-repeat;
}
.cont:nth-child(5) {
  height: 200px;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 50px;
  border: 5px solid tomato;
  box-shadow: -20px 20px 20px 20px gold;

  background-color: blue;
  background-image: url(../images/img5.jpg);
  background-size: 100px 100px;
  background-repeat: no-repeat;
}
.cont:nth-child(6) {
  height: 200px;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 50px;
  border: 5px solid tomato;
  box-shadow: 20px 20px 20px 40px gold;

  background-color: blue;
  background-image: url(../images/img6.jpg);
  background-size: 100px 100px;
  background-repeat: no-repeat;
}
